<div class="container">
    <div class="row justify-content-center">
		<h3>あてはまる条件を選択してください（5=そう思う、1=そうは思わない）</h3>
		<ul>
			<li>Q1.    外に出ることが好きだ</li>
			<li>Q2.    人とは違った趣味をしたい</li>
			<li>Q3.    趣味を誰かに披露したい</li>
			<li>Q4.    趣味を通じて健康になりたい</li>
			<li>Q5.    集中力はある方だ</li>
			<li>Q6.    リラックスしたい</li>
			<li>Q7.    誰かと協働するのが好きだ</li>
			<li>Q8.    考えることが好きだ</li>
			<li>Q9.    趣味のためならお金は惜しまない</li>
			<li>Q10.  芸術に興味がある</li>
		</ul>
	</div>
</div>





