<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <br>
  <br>
  <div class="row justify-content-center my-lg-3">
    <div class="col-lg-10 text-dark">
      <!--<h1 class="display-3"><strong>ラプソディ</strong></h1>-->
      <br>
      <h1 class="display-4">あなたにぴったりの趣味が見つかるサイト</h1>
      <h3>-新たな趣味に出会える</h3>
      <h3>-サークル活動ができる</h3>
      <h3>-活動を記録できる</h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>