<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <div class="row justify-content-center">
      <br>
      <h1 class="display-5">あなたにぴったりの趣味が見つかる</h1>
      <br>
  </div>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
      <h3 class="display-6">-新たな趣味に出会える</h3>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
      <h3 class="display-6">-サークル活動ができる</h3>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
      <h3 class="display-6">-活動を記録できる</h3>
  </div>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
      <%= link_to "趣味診断を行う", matching_show_path, class: "btn btn-primary" %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>