.navbar {
  background-color: black;
}
* {
  font-family: 'Osaka-Mono';
}
footer {
  margin-top: 90px;
}
.joined-hobbies{
	color: white;
	background-color: purple;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.joined-challenges{
	color: white;
	background-color: orange;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.purple_band{
  color: white;
  background-color: #75A9FF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.orange_band{
  color: white;
  background-color: #FF8856;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.black_band{
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}
body {
  	padding-top: 90px;
}
html {
	display: block;
  position: relative;
  z-index: 1;
}
html:after {
	content: "";
	background: url(study.jpg);
  background-position: center;
  background-size:cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.table{
  position: relative;
  color: black;
  z-index: 1;
}
.table:after {
  content: "";
  background: url(study.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.picture {
  position: relative;
  width: 100%;
  }
.picture p {
  position: absolute;
  background-color: #555555;
  color: white;
  font-weight: 900;
  font-size: 1.6em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.question{
   margin-top: 5px;
   display:inline-block;
  }
.radio_button{
   margin-top: 5px;
   transform: scale(1.2);
   display:inline-block;
  }
.matching {
  display: none;
  position: absolute;
  background-color: #555555;
  color: white;
  font-weight: 900;
  font-size: 1.4em;
  }
.matching_percent {
  display: none;
  position: absolute;
  background-color: #FF5192;
  color: white;
  font-weight: 900;
  font-size: 1.4em;
  margin-left: 25px;
  }
.matching_80percent {
  display: none;
  position: absolute;
  background-color: #FF1A6F;
  color: white;
  font-weight: 900;
  font-size: 1.4em;
  margin-left: 25px;
  }
.pic{
  position: relative;
  color: white;
  z-index: 1;
}
.pic:after {
  content: "";
  background: url(sports2.jpg);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.main_picture{
  position: relative;
  color: white;
  z-index: 1;
}
.main_picture:after {
  content: "";
  background: url(sports2.jpg);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.example {
  position: relative;
  }
.title {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 4em;
  top: 7%;
  left: 8%;
  margin:0;
  padding:0;
  }
.p1 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.7em;
  top: 35%;
  left: 35%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.p2 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.3em;
  top: 40%;
  left: 75%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.p3 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  top: 55%;
  left: 70%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.p4 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 4em;
  top: 60%;
  left: 30%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.p5 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  top: 75%;
  left: 60%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.p6 {
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
.example img {
  height: 700px;
  width: 1100px
  }
.edit {
  display: block;
  position: relative;
  z-index: 1;
}
.edit:after {
  content: "";
  background: url(sports.jpg);
  background-position: center;
  background-size:cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.ranking {
  display: none;
  position: absolute;
  color: white;
  }